@import url(./normalize.css);
@import url(./reset.css);
/* 기본 스타일 */
*,* ::before, *::after{
  box-sizing: border-box;
}

/* 본문 스타일 */
body{
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
  Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 상위 컨테이닝 블록 : position: static이 아닌 경우 */

/* 텍스트 링크 모음 */
.member{
  background-color: aqua;
}

/* 비주얼 */
.visual{
  background: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background: lightgreen;
  min-height: 450px; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}
.group1{
  background-color: violet;
  width: 200px;
  /*1000 200/2000 = 100px.. 300/2000.. 1000*.15.. 
  flex-shrink: 1;                               */
}
.group2{
  background-color: salmon;
  width: 380px;
}
.group3{
  background-color: gold;
  width: 190px;
}

/* 슬로건 */
  .slogan{
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer{
  background: gray;
}
.footer-inner{
  background: silver;
  height: 15vh;
  width: 500px;
  overflow: hidden;
}















