@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden{
  position: absolute;
  /* display: inline-block; */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip: rect(0 0 0 0); */
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,* ::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

/* 링크 스타일 */
a{
  color: #000;
  text-decoration: none;
}

/* 본문 스타일 */
body{
  /* em, rem 단위를 사용해보기 */
  font-size: 1.4rem;
  color: #212121;
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 100%);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 
  Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 상위 컨테이닝 블록 : position: static이 아닌 경우 */

/* 텍스트 링크 모음 */
.member{
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기*/
  transform: translateX(10px);
}

.member li{
  display: inline-block;
}

.member a{
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li::last-child a{
  padding-right: 0;
} */

.dividerP{
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 80px;
}

/* background-color -> 배경색
   background-image -> 배경 이미지
   background-repeat -> 배경 이미지 반복
   background-position -> 배경 이미지 위치 
   background-attachment -> 배경 이미지 고정 여부
   background-size -> 배경 이미지 크기 조정*/

/*background -> 공백으로 값과 값*/

.menu{
  background: #e85e2c
  linear-gradient(
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
  );
}

/* 비주얼 */
.visual{
  background: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background: lightgreen;
  min-height: 450px; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}
.group1{
  background-color: violet;
  width: 200px;
  /*1000 200/2000 = 100px.. 300/2000.. 1000*.15.. 
  flex-shrink: 1;                               */
}
.group2{
  background-color: salmon;
  width: 380px;
}
.group3{
  background-color: gold;
  width: 190px;
}

/* 슬로건 */
  .slogan{
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer{
  background: linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner{
  background: silver;
  height: 15vh;
  width: 500px;
  overflow: hidden;
}















